<p id="notice"><%= notice %></p>

<h1>Dispo Dems</h1>

<table>
  <thead>
    <tr>
      <th>Dem</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispo_dems.each do |dispo_dem| %>
      <tr>
        <td><%= dispo_dem.dem_id %></td>
        <td><%= dispo_dem.date %></td>
        <td><%= link_to 'Show', dispo_dem %></td>
        <td><%= link_to 'Edit', edit_dispo_dem_path(dispo_dem) %></td>
        <td><%= link_to 'Destroy', dispo_dem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispo Dem', new_dispo_dem_path %>
