<p id="notice"><%= notice %></p>

<p>
  <strong>Dem:</strong>
  <%= @dispo_dem.dem_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @dispo_dem.date %>
</p>

<%= link_to 'Edit', edit_dispo_dem_path(@dispo_dem) %> |
<%= link_to 'Back', dispo_dems_path %>
