<p id="notice"><%= notice %></p>

<h1>Keyword Dems</h1>

<table>
  <thead>
    <tr>
      <th>Dem</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keyword_dems.each do |keyword_dem| %>
      <tr>
        <td><%= keyword_dem.dem_id %></td>
        <td><%= keyword_dem.keyword_id %></td>
        <td><%= link_to 'Show', keyword_dem %></td>
        <td><%= link_to 'Edit', edit_keyword_dem_path(keyword_dem) %></td>
        <td><%= link_to 'Destroy', keyword_dem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword Dem', new_keyword_dem_path %>
