<p id="notice"><%= notice %></p>

<p>
  <strong>Conv:</strong>
  <%= @message.conv_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @message.msg %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
