<p id="notice"><%= notice %></p>

<h1>Dispo Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Dispo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispo_users.each do |dispo_user| %>
      <tr>
        <td><%= dispo_user.user_id %></td>
        <td><%= dispo_user.dispo %></td>
        <td><%= link_to 'Show', dispo_user %></td>
        <td><%= link_to 'Edit', edit_dispo_user_path(dispo_user) %></td>
        <td><%= link_to 'Destroy', dispo_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispo User', new_dispo_user_path %>
