<p id="notice"><%= notice %></p>

<h1>User Verifs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_verifs.each do |user_verif| %>
      <tr>
        <td><%= user_verif.user_id %></td>
        <td><%= user_verif.code %></td>
        <td><%= link_to 'Show', user_verif %></td>
        <td><%= link_to 'Edit', edit_user_verif_path(user_verif) %></td>
        <td><%= link_to 'Destroy', user_verif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Verif', new_user_verif_path %>
