<p id="notice"><%= notice %></p>

<h1>Keyword Courses</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keyword_courses.each do |keyword_course| %>
      <tr>
        <td><%= keyword_course.course_id %></td>
        <td><%= keyword_course.keyword %></td>
        <td><%= link_to 'Show', keyword_course %></td>
        <td><%= link_to 'Edit', edit_keyword_course_path(keyword_course) %></td>
        <td><%= link_to 'Destroy', keyword_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword Course', new_keyword_course_path %>
