<p id="notice"><%= notice %></p>

<p>
  <strong>Teach:</strong>
  <%= @lesson.teach_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @lesson.integer %>
</p>

<p>
  <strong>Pupil:</strong>
  <%= @lesson.pupil_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @lesson.integer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @lesson.cost %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @lesson.integer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lesson.status %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @lesson.integer %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
