<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @demand.user_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @demand.theme_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @demand.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @demand.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @demand.cost %>
</p>

<p>
  <strong>Location:</strong>
  <%= @demand.location %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @demand.photo %>
</p>

<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
