<p id="notice"><%= notice %></p>

<h1>Dispo Teaches</h1>

<table>
  <thead>
    <tr>
      <th>Teach</th>
      <th>Integer</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispo_teaches.each do |dispo_teach| %>
      <tr>
        <td><%= dispo_teach.teach_id %></td>
        <td><%= dispo_teach.integer %></td>
        <td><%= dispo_teach.date %></td>
        <td><%= link_to 'Show', dispo_teach %></td>
        <td><%= link_to 'Edit', edit_dispo_teach_path(dispo_teach) %></td>
        <td><%= link_to 'Destroy', dispo_teach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispo Teach', new_dispo_teach_path %>
