<p id="notice"><%= notice %></p>

<h1>Notifs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Msg</th>
      <th>Status</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifs.each do |notif| %>
      <tr>
        <td><%= notif.user_id %></td>
        <td><%= notif.title %></td>
        <td><%= notif.msg %></td>
        <td><%= notif.status %></td>
        <td><%= notif.url %></td>
        <td><%= link_to 'Show', notif %></td>
        <td><%= link_to 'Edit', edit_notif_path(notif) %></td>
        <td><%= link_to 'Destroy', notif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notif', new_notif_path %>
