<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notif.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notif.title %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @notif.msg %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notif.status %>
</p>

<p>
  <strong>Url:</strong>
  <%= @notif.url %>
</p>

<%= link_to 'Edit', edit_notif_path(@notif) %> |
<%= link_to 'Back', notifs_path %>
