<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @teacher.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @teacher.integer %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @teacher.theme_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @teacher.integer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teacher.title %>
</p>

<p>
  <strong>String:</strong>
  <%= @teacher.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher.description %>
</p>

<p>
  <strong>String:</strong>
  <%= @teacher.string %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @teacher.cost %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @teacher.integer %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @teacher.photo %>
</p>

<p>
  <strong>String:</strong>
  <%= @teacher.string %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
