<%= form_for(dispo_dem) do |f| %>
  <% if dispo_dem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dispo_dem.errors.count, "error") %> prohibited this dispo_dem from being saved:</h2>

      <ul>
      <% dispo_dem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dem_id %>
    <%= f.number_field :dem_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
