<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_origin %>
    <%= f.number_field :course_origin %>
  </div>

  <div class="field">
    <%= f.label :teacher_id %>
    <%= f.number_field :teacher_id %>
  </div>

  <div class="field">
    <%= f.label :pupil_id %>
    <%= f.number_field :pupil_id %>
  </div>

  <div class="field">
    <%= f.label :origin_id %>
    <%= f.number_field :origin_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :evolution %>
    <%= f.number_field :evolution %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
