<p id="notice"><%= notice %></p>

<p>
  <strong>Course origin:</strong>
  <%= @lesson.course_origin %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lesson.teacher_id %>
</p>

<p>
  <strong>Pupil:</strong>
  <%= @lesson.pupil_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @lesson.origin_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lesson.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lesson.location %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @lesson.cost %>
</p>

<p>
  <strong>Evolution:</strong>
  <%= @lesson.evolution %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
