<p id="notice"><%= notice %></p>

<p>
  <strong>Pupil:</strong>
  <%= @pupil_keyword.pupil_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @pupil_keyword.integer %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @pupil_keyword.keyword %>
</p>

<p>
  <strong>String:</strong>
  <%= @pupil_keyword.string %>
</p>

<%= link_to 'Edit', edit_pupil_keyword_path(@pupil_keyword) %> |
<%= link_to 'Back', pupil_keywords_path %>
