<%= form_for(pupil) do |f| %>
  <% if pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>

      <ul>
      <% pupil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :integer %>
    <%= f.text_field :integer %>
  </div>

  <div class="field">
    <%= f.label :theme_id %>
    <%= f.text_field :theme_id %>
  </div>

  <div class="field">
    <%= f.label :integer %>
    <%= f.text_field :integer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
