<p id="notice"><%= notice %></p>

<h1>Pupils</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Integer</th>
      <th>Theme</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.user_id %></td>
        <td><%= pupil.integer %></td>
        <td><%= pupil.theme_id %></td>
        <td><%= pupil.integer %></td>
        <td><%= link_to 'Show', pupil %></td>
        <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupil', new_pupil_path %>
