<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pupil.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @pupil.integer %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @pupil.theme_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @pupil.integer %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
