<p id="notice"><%= notice %></p>

<h1>Dispo Pupils</h1>

<table>
  <thead>
    <tr>
      <th>Pupil</th>
      <th>Integer</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispo_pupils.each do |dispo_pupil| %>
      <tr>
        <td><%= dispo_pupil.pupil_id %></td>
        <td><%= dispo_pupil.integer %></td>
        <td><%= dispo_pupil.date %></td>
        <td><%= link_to 'Show', dispo_pupil %></td>
        <td><%= link_to 'Edit', edit_dispo_pupil_path(dispo_pupil) %></td>
        <td><%= link_to 'Destroy', dispo_pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispo Pupil', new_dispo_pupil_path %>
