<%= form_for(teach_keyword) do |f| %>
  <% if teach_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teach_keyword.errors.count, "error") %> prohibited this teach_keyword from being saved:</h2>

      <ul>
      <% teach_keyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teach_id %>
    <%= f.text_field :teach_id %>
  </div>

  <div class="field">
    <%= f.label :integer %>
    <%= f.text_field :integer %>
  </div>

  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
