<p id="notice"><%= notice %></p>

<p>
  <strong>Teach:</strong>
  <%= @teach_keyword.teach_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @teach_keyword.integer %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @teach_keyword.keyword %>
</p>

<p>
  <strong>String:</strong>
  <%= @teach_keyword.string %>
</p>

<%= link_to 'Edit', edit_teach_keyword_path(@teach_keyword) %> |
<%= link_to 'Back', teach_keywords_path %>
