<%= form_for(dispo_course) do |f| %>
  <% if dispo_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dispo_course.errors.count, "error") %> prohibited this dispo_course from being saved:</h2>

      <ul>
      <% dispo_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.number_field :course_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
